.center {
    text-align: center;
}
.masthead {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../images/beirut-main.jpeg");

}
.masthead-container {
    margin-top: 15px;
    margin-bottom: 50px;
}

h1 {
   font-family:  'Marker';
   color: black;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
}

h3 {
   font-family:  'Marker';
    color: black;
}
.masthead-text-bg {
    background-color: rgba(224, 228, 235, 0.4);

   
}

.item-title {
    font-family:  'CECFont';
    color: black;
    white-space: nowrap;
    
}
.landing-button {
    background-color: #1c1d1e;
    font-family:  'CECFont';
    color: #fafafa;
}

.masthead-header {
    background-color: rgba(250, 250, 250, 0.8);
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 50%
}
.masthead-subheader {
   font-family:  'Marker';
    position: absolute;
    bottom: 0;
    right: 10px;
}
.item-slider {
    margin-bottom: 50px;
}