.nav-menu-container {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 100px;
}

.menu-icons {
  color: black;
  white-space: nowrap;
  position: relative;
  top: 5px;
}
.quantity-badge {
  background-color: #ff5757;
  position: absolute;
}


.logo-link {
  position: absolute;
  width: '75px';
  right: 0;
  left: 0;
  top: -5px;
  margin: auto;

}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-family: 'Quicksand';

 }