.item-card {
   position: relative;

}

.menu-div {
 margin-top: 15px;
}
 

.cat-button {
    background-color: #ff5757;
    color: #fafafa;
    font-size: large;
    
}
.add-button {
    background-color:  #2e2a2b;
    color: #fafafa;
}


.item-card-title {
    color: #2e2a2b;
}
.menu-item-cont {
    text-align: center;

}

.centered {
   
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .no-image {
      display: none;
  }

  .item-slider {
    margin-bottom: 50px;
}