@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet');
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* @font-face {
  font-family: 'SubH';
  src: local('CECFont2'), url('./fonts/cecfont2.ttf') format('truetype');
}
@font-face {
  font-family: 'BigH';
  src: local('CECFont'), url('./fonts/cecfont.ttf') format('truetype');
}
@font-face {
  font-family: 'BoldP';
  src: local('CECFontpb'), url('./fonts/cecfontpb.ttf') format('truetype');
}
@font-face {
  font-family: 'Marker';
  src: local('Marker'), url('./fonts/PermanentMarker.ttf') format('truetype');
}
@font-face {
  font-family: 'OswaldBold';
  src: local('OswaldBold'), url('./fonts/Oswald-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'OswaldLight';
  src: local('OswaldLight'), url('./fonts/Oswald-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'CECFontp';
  src: local('CECFontp'), url('./fonts/cecfontp.ttf') format('truetype');
} */



.thm-blackish {
  color: #2e2a2b;
  background-color: #2e2a2b;
}

.thm-coral {
  color: #ff5757;
  background-color: #ff5757;
}

.thm-whiteish {
  color: #fafafa;
  background-color: #fafafa;
}